:root {
  --white: #ffffff;
  --black: #000000;
  --light-grey-1: #c5c5c5;
  --light-grey-2: #e7e7e7;
  --light-grey-2: #ebebeb;
  --black-2: #111111;
  --black-3: #121212;
  --black-4: #202020;
  --dark-grey-1: #2b2b2b;
  --dark-grey-2: #595959;
  --dark-grey-3: #7a7a7a;
  --purple: #0047ff;
  --orange: #ff7a00;
}
