:root {
  --white: #ffffff;
  --black: #000000;
  --light-grey-1: #c5c5c5;
  --light-grey-2: #e7e7e7;
  --light-grey-2: #ebebeb;
  --black-2: #111111;
  --black-3: #121212;
  --black-4: #202020;
  --dark-grey-1: #2b2b2b;
  --dark-grey-2: #595959;
  --dark-grey-3: #7a7a7a;
  --dark-grey-4: #444444;
  --dark-grey-5: #4a4a4a;
  --purple: #0047ff;
  --orange: #ff7a00;

  --layout-bg-color: var(--black);
  --grid-item-bg-color: var(--black-3);
  --primary-color: var(--purple);
  --text-1: var(--white);
  --text-2: var(--dark-grey-2);
  --text-3: var(--dark-grey-3);

  --border-dark: var(--dark-grey-1);
}
