:root {
  --lg-1: 6rem;
  --lg-2: 4rem;
  --md-1: 3.2rem;
  --md-2: 2.4rem;
  --sm-1: 1.6rem;
  --sm-2: 1.4rem;
  --sm-3: 1.2rem;
  --sm-4: 1rem;
}

.lg-1-md {
  font-size: var(--lg-1);
  line-height: 78px;
  font-weight: 500;
  font-weight: bold;
}

.lg-2-md {
  font-size: var(--lg-2);
  line-height: 32px;
  font-weight: 500;
}

.md-1-md {
  font-size: var(--md-1);
  line-height: 32px;
  font-weight: 500;
  font-weight: bold;
}

.md-2-md {
  font-size: var(--md-2);
  line-height: 24px;
  font-weight: 500;
}

.sm-1-rg {
  font-size: var(--sm-1);
  line-height: 24px;
  font-weight: 400;
}
.sm-2-md {
  font-size: var(--sm-2);
  line-height: 16px;
  font-weight: 500;
}
.sm-3-md {
  font-size: var(--sm-3);
  line-height: 12px;
  font-weight: 500;
}
.sm-3-bd {
  font-size: var(--sm-3);
  line-height: 12px;
  font-weight: 700;
}
.sm-2-rg {
  font-size: var(--sm-2);
  line-height: 14px;
  font-weight: 500;
}
.sm-4-md {
  font-size: var(--sm-4);
  line-height: 16px;
  font-weight: 500;
}
.sm-3-ebd {
  font-size: var(--sm-3);
  line-height: 24px;
  font-weight: 600;
}
