:root {
  --layout-padding: 38px;
  --layout-radius: 40px;
  --layout-width: 1440px;
  /* --layout-height: 1040px; */
  --grid-col: repeat(12, 1fr);
  --grid-row: repeat(9, 1fr);
  --grid-template: var(--grid-row) / var(--grid-col);
  --grid-col-gutter: 18px;
  --grid-row-gutter: 24px;
  --grid-gutter: var(--grid-row-gutter) var(--grid-col-gutter);
  --intro-area: 1 / 1 / span 5 / span 6;
  --profile-img-area: 1 / 7 / span 5 / span 3;
  --profile-name-area: 1 / -4 / span 1 / -1;
  --resume-area: 2 / -4 / span 3 / -1;
  --location-area: 5 / -4 / span 1 / -1;
  --project-area: 6 / 1 / -1 / span 7;
  --about-aree: 6 / 8 / -1/ -1;
}

.home-grid {
  display: grid;
  grid-template: var(--grid-template);
  gap: var(--grid-gutter);
  height: 100%;
}

.home-grid > * {
  background-color: var(--grid-item-bg-color);
}

.intro-part {
  grid-area: var(--intro-area);
  border-radius: 40px;
}

.profile-img-part {
  grid-area: var(--profile-img-area);
  border-radius: 40px;
}

.profile-name-part {
  grid-area: var(--profile-name-area);
  border-radius: 20px;
}

.resume-part {
  grid-area: var(--resume-area);
  border-radius: 40px;
}

.location-part {
  grid-area: var(--location-area);
  border-radius: 20px;
}

.project-part {
  grid-area: var(--project-area);
  border-radius: 40px;
}

.about-part {
  grid-area: var(--about-aree);
  border-radius: 40px;
}

@media (max-width: 415px) {
  :root {
    --grid-template-area: 'profile-name' 'intro' 'project' 'about' 'profile-img'
      'resume' 'location';
    --grid-template: unset;
    --profile-name-area: profile-name;
    --intro-area: intro;
    --profile-img-area: profile-img;
    --resume-area: resume;
    --location-area: location;
    --project-area: project;
    --about-aree: about;
    --layout-padding: 16px;
  }

  .home-grid {
    grid-template-columns: 1fr;
    grid-template-areas: var(--grid-template-area);
    grid-auto-flow: row;
    column-gap: unset;
  }
}
