.layout-container {
  background-color: var(--layout-bg-color);
  padding: var(--layout-padding);
}

.content-container {
  margin: auto;
  height: 100%;
  min-height: var(--layout-height);
}

@media (max-width: 415px) {
  .layout-container {
    padding-bottom: 32px;
  }
}
