.layout-container {
  background-color: var(--layout-bg-color);
  height: 100vh;
  padding: var(--layout-padding);
}

.content-container {
  margin: auto;
  height: 100%;
  min-height: var(--layout-height);
}
