.project-card {
  position: relative;
  border-radius: 60px;
  overflow: hidden;
  height: 792px;
  justify-content: flex-end;
  padding-inline: 32px;
  flex-direction: column;
  padding-bottom: 32px;
}

.project-card__tech-tag {
  width: 122px;
  height: 48px;
  color: var(--text-1);
  left: 24px;
  top: 24px;
  background-color: var(--black);
  color: var(--text-1);
  border: 1px solid var(--dark-grey-4);
  border-radius: 60px;
}

.project-card__image {
  position: absolute;
  inset: 0;
}

.project-card__modal {
  height: 304px;
  background-color: var(--black);
  padding: 60px;
  width: 100%;
  border-radius: 60px;
  position: relative;
  z-index: 5;
}

.project-card__item {
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.project-card__info {
  max-width: 420px;
}

.project-card__title {
  margin-bottom: 16px;
  color: var(--text-1);
}

.project-card__description {
  color: var(--light-grey-1);
}

.project-card__tech {
  margin-top: 24px;
  display: inline-block;
}

.project-card__list {
  column-gap: 16px;
}

.project-card__tag {
  width: 64px;
  height: 64px;
  background-color: var(--black);
  z-index: 2;
  top: 24px;
  left: 24px;
  border-radius: 50%;
  color: var(--text-1);
  position: absolute;
}
