@font-face {
  font-family: NeueMachine;
  src: url('../public/fonts/NeueMachina-Light.otf');
  font-weight: 200;
}

@font-face {
  font-family: NeueMachine;
  src: url('../public/fonts/NeueMachina-Regular.otf');
  font-weight: normal;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

*::before,
*,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  width: 100vw;
}

body {
  font-family: NeueMachine, sans-serif;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

.home {
  @include layoutGrid;
  padding-inline: 124px;
  padding-top: 64px;
  background-color: $background-colour;
  position: relative;

  @include tablet-portrait {
    padding-inline: 64px;
  }

  @include smartphone-portrait {
    padding-inline: 24px;
    padding-top: 40px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 164px;
  grid-column: 1/-1;

  @include smartphone-portrait {
    margin-bottom: 116px;
  }

  .links {
    display: flex;
    column-gap: 40px;
  }

  .item {
    @include body-text-2;
    text-transform: capitalize;
  }

  @include smartphone-portrait {
    & > .item {
      font-size: 1.8rem;
    }
  }

  ul > .item {
    @include body-text-3;
  }
}

.navigation-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 116px;

  @include smartphone-portrait {
    row-gap: 96px;
  }

  .item {
    font-size: 2.4rem !important;

    @include smartphone-portrait {
      font-size: 1.6rem !important;
    }
  }

  @include smartphone-portrait {
    .arrowUpIcon {
      svg {
        height: 42px;
      }
    }
  }
}

.hero {
  @include header-1;
  grid-column: 1/-1;

  @include tablet-portrait {
    font-size: 5.4rem;
  }

  @include smaller-smartphone-portrait {
    font-size: 3.6rem;
  }
}

.tag {
  @include header-4;
  grid-column: -1/1;
  border-bottom: 2px solid #000;
  padding-bottom: 40px;

  @include smartphone-portrait {
    padding-bottom: 32px;
  }
}

.about {
  grid-column: 1/-1;
  margin-top: 288px;
  @include layoutGrid;

  @include smartphone-portrait {
    margin-top: 188px;
  }

  .info {
    grid-column: 2/-3;
    @include body-text-1;
    margin-bottom: 296px;
    margin-top: 196px;

    @include tablet-portrait {
      grid-column: 1/-1;
      font-size: 2.4rem;
      margin-bottom: 240px;
    }

    @include smartphone-portrait {
      grid-column: 1/-1;
      margin-top: 96px;
      margin-bottom: 196px;
    }
  }
  .about-contact {
    grid-column: 3/-3;
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 296px;

    @mixin column-arranged {
      flex-direction: column;
      justify-content: initial;
      grid-column: 1/-1;
      align-items: center;
    }

    @include tablet-portrait {
      @include column-arranged;
      row-gap: 124px;
    }

    @include smartphone-portrait {
      @include column-arranged;
      row-gap: 96px;
      margin-bottom: 196px;
    }
  }
}

.button {
  width: 364px;
  height: 364px;
  position: relative;
  @include body-text-4;
  font-size: 18px;
  text-transform: uppercase;

  @include smartphone-portrait {
    width: 280px;
    height: 280px;
  }

  .bt-pm-ct,
  .bt-sc-bg {
    width: 100%;
    height: 100%;
  }

  .bt-pm-ct {
    border-radius: 50%;
    position: relative;
    border: 2px solid #000;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
  }

  .bt-sc-bg {
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    top: 20px;
    left: 20px;
    line-height: 1;
    z-index: 1;
    background-color: $cream-yellow;
  }
}

.navigate-back {
  a {
    display: inline-flex;
    flex-direction: column;
    row-gap: 4px;
  }
}

.footer {
  grid-column: 1/-1;

  .short-messasge {
    margin-top: 164px;
    @include body-text-1;
    font-weight: lighter;

    @include tablet-portrait {
      margin-top: 96px;
      font-size: 2.4rem;
    }

    @include smartphone-portrait {
      margin-top: 80px;
    }
  }

  .contact {
    margin-block: 80px 116px;

    @include tablet-portrait {
      margin-block: 64px 116px;
    }

    @include smartphone-portrait {
      margin-block: 24px 96px;
      .arrowLeftIcon {
        svg {
          height: 12px;
        }
      }
    }

    a {
      @include header-3;
      span:first-child {
        margin-right: 10px;
      }

      @include smartphone-portrait {
        span:first-child {
          margin-right: 2px;
        }
      }

      @include smaller-smartphone-portrait {
        span:last-child {
          font-size: 2rem;
        }
      }
    }
  }
}

.menuIcon {
  cursor: pointer;
  .menuIconLine {
    display: inline-block;
    &,
    &::after {
      height: 2px;
      width: 54px;
      background-color: #000;
    }

    &::after {
      content: '';
      display: inline-block;
      margin-top: 12px;
    }
  }
}

.mobileMenuModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $background-colour;
  z-index: 10;
}

.modalOpen {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: 1;

  & + span {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    position: fixed;
    right: 24px;
    z-index: 20;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-10deg);
    .menuIconLine {
      transform: rotate(60deg);
      position: relative;
      top: 5px;

      &::after {
        position: relative;
        transform: rotate(-280deg);
        top: -12px;
      }

      &,
      &::after {
        width: 42px;
        background-color: #494949;
      }
    }
  }
}

.modalclose {
  display: none;
  visibility: 0;
}

.nav-modal-content {
  .links {
    flex-direction: column;
    column-gap: 0;
    row-gap: 88px;
    transform: translateY(-64px);
    .item {
      font-size: 3.6rem;
    }
  }
}
